.circle1 {
    background-size: 600px 600px;
    z-index: -100;
    background-image: url("../image/gallery-ring.png");
    background-repeat: no-repeat;
    background-position-x: -20%;
    background-position-y: -18%;
}

.circle2 {
    background-size: 600px 600px;
    z-index: -100;
    background-image: url("../image/gallery-ring.png");
    background-repeat: no-repeat;
    background-position-x: 125%;
    background-position-y: 30%;
}


/* 제목부분 */

.card_title {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 0.4rem;
    padding: 1rem;
    text-align: center;
    /* margin-top: 10%; */
}

.form-label2 {
    color: #FD9F28;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}


/* 업로드버튼 */

.upbtn {
    width: 100%;
    /* height: 100%; */
    /* opacity: 0 */
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff
}


/* 갤러리부분 */

.light-overlay::after,
.dark-overlay::after,
.gradient-overlay::after {
    position: absolute;
    /* top: 64%; */
    left: 0;
    width: 100%;
    height: 60px;
    content: ' ';
    opacity: 0;
    background: #000;
}

.card-fav-icon-heart {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    opacity: 0.7;
    color: #fff;
    border-radius: 50%;
    background: #ff3044;
    line-height: 2.5rem;
}

.clickHeart {}

.text-shadow-dark {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.gallery-defalt {
    background-size: cover;
    height: 200px;
}

.gallery-tall {
    background-size: cover;
    height: 410px;
}

.gallery-wide {
    background-size: cover;
    height: 200px;
    /* width: 550.6px; */
}

.gallery-big {
    background-size: cover;
    height: 410px;
    /* height: 621px; */
}


/* 메인페이지처럼 보이는 갤러리 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, */
/* body { */
/*     background: linear-gradient(45deg, #190f2c, #200b30); */
/*     padding: 15px; */
/* } */

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}


/* Main CSS */

.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}


/* 마우스 올렸을 때 이름 까만빡스 */

.box-wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.box {
    position: relative;
    /* width: 400px;
    height: 300px; */
    /* border: 7px solid #283593; */
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4) */
}

.box img {
    width: 100%;
}

.box .info {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.box:hover .info {
    opacity: 1;
}

.box .info h3 {
    font-size: 24px;
    padding-bottom: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.box .info p {
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}


/* 파일 업로드 */

#root {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

.title {
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.contents .upload-box {
    width: 100%;
    /* margin-right: 30px; */
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents .upload-box .drag-file {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
    /* padding-left: 30px; */
}

.contents .upload-box .drag-file.highlight {
    border: 3px dashed red;
}

.contents .upload-box .drag-file .image {
    width: 40px;
}

.contents .upload-box .drag-file .message {
    margin-bottom: 0;
}

.contents .upload-box .drag-file .preview {
    display: none;
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
}

.contents .upload-box .file-label {
    margin: 10px;
    background-color: #FD9F28;
    color: #fff;
    text-align: center;
    padding: 1.5%;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    /* bottom: 0; */
}

.contents .upload-box .input-tag {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    /* background-color: #5b975b; */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 80%;
    border-radius: 6px;
    cursor: pointer;
    /* bottom: 0; */
}

.contents .upload-box .file {
    display: none;
}

@media (max-width: 700px) {
    .contents {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .contents .upload-box {
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
    }
    .contents .upload-box .drag-file {
        height: 150px;
    }
    .contents .files {
        width: 100%;
        box-sizing: border-box;
        margin-right: 0;
        overflow: initial;
    }
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}


/* 이미지 업로드시 태그입력창 */

.form-control-addTag {
    display: block;
    width: 90%;
    height: 20%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.4rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: absolute;
    /* top: 0; */
    margin-top: 3%;
}


/* 버튼들 있는 div */

.uploadButtons {
    display: flex;
    width: 96%;
    position: absolute;
    bottom: 0;
}


/* 검색바 */


/*===============================
=            Choices            =
===============================*/

.choices {
    position: relative;
    margin-bottom: 24px;
    font-size: 16px;
}

.choices:focus {
    outline: none;
}

.choices:last-child {
    margin-bottom: 0;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
    background-color: #EAEAEA;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.choices.is-disabled .choices__item {
    cursor: not-allowed;
}

.choices[data-type*="select-one"] {
    cursor: pointer;
}

.choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 7.5px;
}

.choices[data-type*="select-one"] .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    margin: 0;
}

.choices[data-type*="select-one"] .choices__button {
    background-image: url("../../icons/cross-inverse.svg");
    padding: 0;
    background-size: 8px;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: .5;
}

.choices[data-type*="select-one"] .choices__button:hover,
.choices[data-type*="select-one"] .choices__button:focus {
    opacity: 1;
}

.choices[data-type*="select-one"] .choices__button:focus {
    box-shadow: 0px 0px 0px 2px #00BCD4;
}

.choices[data-type*="select-one"]:after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
}

.choices[data-type*="select-one"].is-open:after {
    border-color: transparent transparent #333333 transparent;
    margin-top: -7.5px;
}

.choices[data-type*="select-one"][dir="rtl"]:after {
    left: 11.5px;
    right: auto;
}

.choices[data-type*="select-one"][dir="rtl"] .choices__button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0;
}

.choices[data-type*="select-multiple"] .choices__inner,
.choices[data-type*="text"] .choices__inner {
    cursor: text;
}

.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: 8px;
    padding-left: 16px;
    border-left: 1px solid #008fa1;
    background-image: url("../../icons/cross.svg");
    background-size: 8px;
    width: 8px;
    line-height: 1;
    opacity: .75;
}

.choices[data-type*="select-multiple"] .choices__button:hover,
.choices[data-type*="select-multiple"] .choices__button:focus,
.choices[data-type*="text"] .choices__button:hover,
.choices[data-type*="text"] .choices__button:focus {
    opacity: 1;
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #f9f9f9;
    padding: 7.5px 7.5px 3.75px;
    border: 1px solid #DDDDDD;
    border-radius: 2.5px;
    font-size: 14px;
    min-height: 44px;
    overflow: hidden;
}

.is-focused .choices__inner,
.is-open .choices__inner {
    border-color: #b7b7b7;
}

.is-open .choices__inner {
    border-radius: 2.5px 2.5px 0 0;
}

.is-flipped.is-open .choices__inner {
    border-radius: 0 0 2.5px 2.5px;
}

.choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.choices__list--single {
    display: inline-block;
    padding: 4px 16px 4px 4px;
    width: 100%;
}

[dir="rtl"] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px;
}

.choices__list--single .choices__item {
    width: 100%;
}

.choices__list--multiple {
    display: inline;
}

.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #00BCD4;
    border: 1px solid #00a5bb;
    color: #FFFFFF;
    word-break: break-all;
}

.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
}

[dir="rtl"] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #00a5bb;
    border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaaaaa;
    border: 1px solid #919191;
}

.choices__list--dropdown {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    overflow: hidden;
    word-break: break-all;
}

.choices__list--dropdown.is-active {
    display: block;
}

.is-open .choices__list--dropdown {
    border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: .25rem .25rem 0 0;
}

.choices__list--dropdown .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.choices__list--dropdown .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px;
}

[dir="rtl"] .choices__list--dropdown .choices__item {
    text-align: right;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding-right: 100px;
    }
    .choices__list--dropdown .choices__item--selectable:after {
        content: attr(data-select-text);
        font-size: 12px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    [dir="rtl"] .choices__list--dropdown .choices__item--selectable {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px;
    }
    [dir="rtl"] .choices__list--dropdown .choices__item--selectable:after {
        right: auto;
        left: 10px;
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    opacity: .5;
}

.choices__item {
    cursor: default;
}

.choices__item--selectable {
    cursor: pointer;
}

.choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .5;
}

.choices__heading {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: gray;
}

.choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.choices__button:focus {
    outline: none;
}

.choices__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;
}

.choices__input:focus {
    outline: 0;
}

[dir="rtl"] .choices__input {
    padding-right: 2px;
    padding-left: 0;
}

.choices__placeholder {
    opacity: .5;
}


/*=====  End of Choices  ======*/

* {
    box-sizing: border-box;
}

.s004 {
    /* min-height: 100vh; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /* background: url("https://p4.wallpaperbetter.com/wallpaper/817/916/889/falcon-9-rocket-4k-high-definition-wallpaper-preview.jpg"); */
    background-size: cover;
    background-position: center center;
    padding: 15px;
}

.s004 form {
    width: 100%;
    max-width: 790px;
}

.s004 form legend {
    font-size: 25px;
    color: black;
    /* color: rgb(0, 0, 0); */
    font-weight: 800;
    /* text-align: center; */
    /* margin-bottom: 50px; */
}

.s004 form .inner-form {
    width: 100%;
    margin-bottom: 17px;
}

.s004 form .inner-form .input-field {
    width: 100%;
    position: relative;
}

.s004 form .inner-form .input-field .choices {
    margin-bottom: 0;
}

.s004 form .inner-form .input-field .choices .choices__inner {
    /* min-height: 70px; */
    width: 100%;
    background: transparent;
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 70px 10px 32px;
    font-size: 18px;
    color: #666;
    border-radius: 34px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.s004 form .inner-form .input-field .choices .choices__inner .choices__list .choices__item {
    background: #e7e7e7;
    color: #333;
    line-height: 33px;
    border: 0;
    padding: 0 20px;
    font-size: 16px;
}

.s004 form .inner-form .input-field .choices .choices__inner .choices__list .choices__item .choices__button {
    border-left: 0;
    color: #b2b2b2;
    background-image: url(../images/icons/close.svg);
    background-size: 14px auto;
    padding-left: 0;
    opacity: .3;
    transition: all .2s ease-out, color .2s ease-out;
}

.s004 form .inner-form .input-field .choices .choices__inner .choices__list .choices__item .choices__button:hover {
    opacity: 1;
}

.s004 form .inner-form .input-field .choices .choices__inner .choices__input {
    font-size: 16px;
    color: #333;
    background-color: transparent;
    margin-bottom: 0;
}

.s004 form .inner-form .input-field .choices .choices__list--dropdown {
    background: transparent;
    font-size: 16px;
    color: #fff;
    border: 0;
    padding: 0 32px;
}

.s004 form .inner-form .input-field .choices .choices__list--dropdown .choices__item {
    font-size: 13px;
    height: 25px;
    line-height: 1.3;
    padding: 0;
    padding-top: 5px;
    opacity: .7;
}

.s004 form .inner-form .input-field .btn-search {
    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.s004 form .inner-form .input-field .btn-search svg {
    fill: #333;
    width: 40px;
    height: 40px;
    transition: all .2s ease-out, color .2s ease-out;
}

.s004 form .inner-form .input-field .btn-search:hover,
.s004 form .inner-form .input-field .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.s004 form .inner-form .input-field .btn-search:hover svg,
.s004 form .inner-form .input-field .btn-search:focus svg {
    fill: #000;
}

.s004 form .suggestion-wrap {
    padding: 0 15px;
}

.s004 form .suggestion-wrap span {
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
    display: inline-block;
    padding: 0 15px;
    line-height: 32px;
    color: #ffffff;
    /* color: rgb(0, 0, 0); */
    border-radius: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    /*  */
    /* min-height: 70px; */
    /* width: 100%; */
    /* background: transparent; */
    /* border: 0; */
    background: #FD9F28;
    /* display: block; */
    /* width: 100%; */
    /* padding: 10px 70px 10px 32px; */
    /* font-size: 18px; */
    /* color: #666; */
    /* border-radius: 34px; */
    /* display: -ms-flexbox; */
    /* display: flex; */
    /* -ms-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    /* -ms-flex-align: center; */
    /* align-items: center; */
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
}