.selectLocation {
    display: block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.4rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-primary {
    margin-top: 0;
    margin-bottom: 0rem;
    font-family: 'pSb';
    font-weight: 700;
    line-height: 1.3;
}

.card-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'pEb';
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.3;
}

.courseList_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    margin-top: 1px;
    max-height: 80px;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 110%;
    max-width: 110%;
}

.courseList_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    margin-top: 1px;
    max-height: 80px;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 110%;
    max-width: 110%;
}


/* 헤더*/

.navbar .nav-link-header {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    transition: color 0.12s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


/* 헤더 hover 효과 */

a.hvr:hover {
    color: #FD9F28;
    background-color: #FAF9F8;
    text-decoration: none;
}

.navbar .nav-link-header-black {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    transition: color 0.12s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


/* 페이징 색 : 나임 */

.page-link-course {
    position: relative;
    font-weight: bold;
    display: block;
    color: #fca43287;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link-course:hover {
    z-index: 2;
    color: #FCA332;
    text-decoration: none;
    background-color: #fff0dc;
    border-color: #ffc273;
}

.page-link-course:focus {
    z-index: 3;
    color: #FCA332;
    background-color: #fff0dc;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffc2734a;
}


/* .page-item-course:not(:first-child) .page-link {
margin-left: -1px;
} */

.page-item-course.active .page-link-course {
    z-index: 3;
    color: #fff8ee;
    font-weight: bold;
    text-shadow: 2px 2px 7px rgb(179, 125, 54);
    background-color: #FCA332 !important;
    border-color: #FCA332;
}

.page-item-course.disabled .page-link-course {
    color: #FCA332;
    pointer-events: none;
    background-color: #fff;
    border-color: #fff0dc;
}

.page-link-course {
    padding: 0.375rem 0.75rem;
}

.page-item-course:first-child .page-link {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

.page-item-course:last-child .page-link {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

a:hover.heart_pink {
    color: rgb(245, 21, 58) !important;
    text-decoration: underline;
}