/* your styles go here */


/* .word => 커뮤메인 말줄임 효과*/

.word {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5;
    /*        height: 4.8em;*/
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}