.main_banner_picture {
        background-image: url(${path}/resources/img/photo/메타1.png);
        width: 1903px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    .main_banner_silde_picture {
        position: inherit;
        display: flex;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.4rem;
        align-items: flex-end;
        border: none;
        overflow: hidden;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
        width: inherit;
        height: 230px;
    }
    
    .together_detail_font {
        text-align: center;
        font-family: pThin;
        font-size: 1.6rem;
    }
    
    .container_blog {
        max-width: 1200px;
    }
    
    .row_blog {
        --bs-gutter-x: 1.875rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        box-sizing: border-box;
    }
    
    .col-12_blog {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
        box-sizing: border-box;
    }
    
    .card_p4_mb4_rounded3 {
        /* transition: all 0.3s ease-in-out; */
        will-change: transform;
        border-radius: 0.7rem !important;
        padding: 2rem !important;
        padding-top: 3rem !important;
        margin-bottom: 2rem !important;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        box-sizing: border-box;
        --bs-card-spacer-y: 0.3rem;
        --bs-card-spacer-x: 1.25rem;
        --bs-card-title-spacer-y: 0.125rem;
        --bs-card-border-width: 0;
        --bs-card-border-color: rgba(0, 0, 0, 0.1);
        --bs-card-border-radius: 0.7rem;
        --bs-card-box-shadow: ;
        --bs-card-inner-border-radius: 0.7rem;
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 1rem;
        --bs-card-cap-bg: #fff;
        --bs-card-cap-color: ;
        --bs-card-height: ;
        --bs-card-color: ;
        --bs-card-bg: #fff;
        --bs-card-img-overlay-padding: 1.25rem;
        --bs-card-group-margin: 0.9375rem;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        height: var(--bs-card-height);
        word-wrap: break-word;
        background-color: var(--bs-card-bg);
        background-clip: border-box;
        /* align-items: center; */
    }
    
    .row_g-3_blog {
        --bs-gutter-y: 1rem;
        --bs-gutter-x: 1rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        box-sizing: border-box;
    }
    
    .col-lg-5_blog {
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        width: 41.66666667%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
        --bs-gutter-y: 1rem;
        --bs-gutter-x: 1rem;
        box-sizing: border-box;
    }
    
    .badge_text-bg-danger_mb-2_blog {
        margin-bottom: 0.5rem !important;
        color: #fff !important;
        background-color: RGBA(214, 41, 62, var(--bs-bg-opacity, 1)) !important;
        --bs-badge-padding-x: 0.65em;
        --bs-badge-padding-y: 0.35em;
        --bs-badge-font-size: 0.85em;
        --bs-badge-font-weight: 400;
        --bs-badge-color: #fff;
        --bs-badge-border-radius: 0.25rem;
        display: inline-block;
        padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
        font-size: var(--bs-badge-font-size);
        font-weight: var(--bs-badge-font-weight);
        line-height: 1;
        color: var(--bs-badge-color);
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: var(--bs-badge-border-radius);
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    .badge_text-bg-danger_mb-2_blue {
        margin-bottom: 0.5rem !important;
        color: #fff !important;
        background-color: blue !important;
        --bs-badge-padding-x: 0.65em;
        --bs-badge-padding-y: 0.35em;
        --bs-badge-font-size: 0.85em;
        --bs-badge-font-weight: 400;
        --bs-badge-color: #fff;
        --bs-badge-border-radius: 0.25rem;
        display: inline-block;
        padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
        font-size: var(--bs-badge-font-size);
        font-weight: var(--bs-badge-font-weight);
        line-height: 1;
        color: var(--bs-badge-color);
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: var(--bs-badge-border-radius);
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    .fas_fa-circle_me-2_small_fw-bold {
        font-weight: 700 !important;
        font-size: 0.875em;
        font-family: "pB";
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        box-sizing: border-box;
    }
    
    .h2_blog {
        font-size: 1.875rem;
        margin-top: 0;
        margin-bottom: var(--bs-card-title-spacer-y);
        font-family: "Nunito Sans", sans-serif;
        font-weight: 700;
        line-height: 1.25;
        color: #191a1f;
        box-sizing: border-box;
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .up-hover {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .up-hover:hover {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    
    .btn-link_text-reset_stretched-link {
        --bs-btn-font-weight: 500;
        --bs-btn-color: var(--bs-link-color);
        --bs-btn-bg: transparent;
        --bs-btn-border-color: transparent;
        --bs-btn-hover-color: var(--bs-link-hover-color);
        --bs-btn-hover-border-color: transparent;
        --bs-btn-active-color: var(--bs-link-hover-color);
        --bs-btn-active-border-color: transparent;
        --bs-btn-disabled-color: #d0d4d9;
        --bs-btn-disabled-border-color: transparent;
        --bs-btn-box-shadow: none;
        --bs-btn-focus-shadow-rgb: 66, 122, 235;
        text-decoration: none;
        --bs-text-opacity: 1;
        color: inherit !important;
        background: linear-gradient(to right, currentColor 0%, currentColor 100%);
        background-size: 0px 6%;
        background-repeat: no-repeat;
        background-position: left 100%;
        transition-duration: 0.5s;
        font-weight: inherit;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
        box-sizing: border-box;
    }
    
    .align-items-center_blog {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    
    .avatar {
        height: 3rem;
        width: 3rem;
        position: relative;
        display: inline-block !important;
    }
    
    .avatar-img_rounded-circle {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50% !important;
        max-width: 100%;
        vertical-align: middle;
        box-sizing: border-box;
    }
    
    .h5_blog {
        font-size: 1.171875rem;
        margin-top: 0;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 700;
        line-height: 1.25;
        color: #191a1f;
        display: block;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .nav_small_blog {
        font-weight: 400;
        font-size: 0.875em;
        --bs-nav-link-padding-x: 0.75rem;
        --bs-nav-link-padding-y: 0.25rem;
        --bs-nav-link-font-weight: ;
        --bs-nav-link-color: var(--bs-body-color);
        --bs-nav-link-hover-color: var(--bs-link-hover-color);
        --bs-nav-link-disabled-color: #a1a1a8 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    
    .rounded-3_blog {
        border-radius: var(--bs-border-radius-lg) !important;
        max-width: 100%;
        height: auto;
        width: 264px;
        height: 198px;
        padding-left: 20%;
    }
    
    .rounded-3_blog-ver2 {
        border-radius: var(--bs-border-radius-lg) !important;
        max-width: 100%;
        height: 50%;
        width: relative;
        padding-left: 20%;
    }
    
    .btn_btn-primary-soft {
        letter-spacing: 0.5px;
        position: relative;
        overflow: hidden;
        outline: 0;
        white-space: nowrap;
        margin-bottom: 6px;
        color: #2163e8;
        background-color: rgba(33, 99, 232, 0.1);
        --bs-btn-padding-x: 1rem;
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-font-family: ;
        --bs-btn-font-size: 0.9375rem;
        --bs-btn-font-weight: 500;
        --bs-btn-line-height: 1.5;
        --bs-btn-color: #595d69;
        --bs-btn-bg: transparent;
        --bs-btn-border-width: 1px;
        --bs-btn-border-color: transparent;
        --bs-btn-border-radius: 0.25rem;
        --bs-btn-box-shadow: none;
        --bs-btn-disabled-opacity: 0.65;
        --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), .5);
        display: inline-block;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        font-family: var(--bs-btn-font-family);
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--bs-btn-color);
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
        border-radius: var(--bs-btn-border-radius);
        background-color: var(--bs-btn-bg);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .search-bar-tourpage {
        border-radius: 10rem;
        background: #fff;
        /* border: rgba(0, 0, 0, 0.324) 1px solid; */
    }
    
    .search-input {
        font-family: 'pEb';
        display: block;
        width: relative;
        /* font-size: 0.875rem; */
        line-height: 1.6;
        background-color: white;
        border: solid white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .card-body-center {
        flex: 1 1 auto;
        padding: 0.5rem 0.5rem;
        text-align: center;
    }
    
    .slide-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    
    .col-lg-9-5 {
        flex: 0 0 auto;
        width: 72%;
    }
    
    .detail_short_poster {
        display: -webkit-box;
        display: -ms-flexbox;
        display: box;
        margin-top: 1px;
        max-height: 200px;
        overflow: hidden;
        vertical-align: top;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        color: #232629 !important;
    }
    
    .eventlist_font {
        margin-top: 0;
        font-family: 'pBlack' !important;
        font-weight: 900;
        line-height: 1.3;
        font-size: 2.5rem;
        border-bottom: 1px solid #C0C2C5;
    }
    /* 화이트헤더 */
    
    .navbar .nav-link-header {
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
        text-decoration: none;
        display: block;
        padding: 0.5rem 1rem;
        color: #fff;
        transition: color 0.12s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }
    /* 블랙헤더 */
    
    .navbar .nav-link-header-black {
        font-size: 1.4rem;
        font-weight: bold;
        color: black;
        text-decoration: none;
        display: block;
        padding: 0.5rem 1rem;
        color: black;
        transition: color 0.12s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }
    /* 헤더 hover 효과 */
    
    a.hvr:hover {
        color: #FD9F28;
        background-color: #FAF9F8;
        text-decoration: none;
    }
    
    a:hover.heart_pink {
        color: rgb(245, 21, 58) !important;
        text-decoration: underline;
    }