<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.tour.community.model.mapper.FreeboardMapper">
	<resultMap type="Freeboard" id="freeboardListResultMap">
		<id property="freeBoardNo" column="FREEBOARD_NO" />
		<result property="uNo" column="UNO" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="fileOriginal" column="FILE_ORIGINAL" />
		<result property="fileRenamed" column="FILE_RENAMED" />
		<result property="count" column="COUNT" />
		<result property="postDate" column="POST_DATE" />
		<result property="status" column="STATUS" />
		<result property="boardType" column="BOARD_TYPE" />
	</resultMap>
	
	<resultMap type="FreeBoardComment" id="FreeBoardCommentResultMap">
		<id property="commentNo" column="COMMENT_NO"/>
		<result property="freeboardNo" column="FREEBOARD_NO"/>
		<result property="uNo" column="UNO"/>
		<result property="content" column="CONTENT"/>
		<result property="postDate" column="POST_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap type="Freeboard" id="freeboardDetailResultMap" extends="freeboardListResultMap">
		<collection property="commentList" javaType="arrayList" columnPrefix="R_" resultMap="freeboardReplyResultMap"/>
	</resultMap>
	
	<!-- 셀렉트 -->
	<select id="selectBoardList" resultMap="freeboardListResultMap"  parameterType="map">
		SELECT  B.FREEBOARD_NO,
				B.TITLE, 
				M.UNO, 
				B.CONTENT, 
				B.FILE_ORIGINAL, 
				B.FILE_RENAMED, 
				B.COUNT,
				B.POST_DATE,
				B.BOARD_TYPE
		FROM COMM_FREEBOARD B
		JOIN MEMBER M ON(B.UNO = M.UNO)
		WHERE B.STATUS = 'Y'
		<!-- WHERE 1=1 -->
		<if test="writerKeyword != null">
			AND M.U_NAME LIKE '%'||#{writerKeyword}||'%'
		</if>
		<if test="titleKeyword != null">
			AND B.TITLE LIKE '%'||#{titleKeyword}||'%'
		</if>
		<if test="contentKeyword != null">
			AND B.CONTENT LIKE '%'||#{contentKeyword}||'%'
		</if>
		ORDER BY B.NO DESC
	</select>
	
	<!--전체 게시글수 가져오긴 -->
	<select id="selectBoardCount" resultType="int"  parameterType="map">
		SELECT  COUNT(*)
		FROM COMM_FREEBOARD B
		JOIN MEMBER M ON(B.UNO = M.UNO)
		WHERE B.STATUS = 'Y'
		<!-- WHERE 1=1 -->
		<if test="writerKeyword != null">
			AND M.U_NAME LIKE '%'||#{writerKeyword}||'%'
		</if>
		<if test="titleKeyword != null">
			AND B.TITLE LIKE '%'||#{titleKeyword}||'%'
		</if>
		<if test="contentKeyword != null">
			AND B.CONTENT LIKE '%'||#{contentKeyword}||'%'
		</if>
		ORDER BY B.NO DESC
	</select>
	
	<!-- 게시글 상세   -->
	<select id="selectBoardByNo" parameterType="int" resultMap="freeboardDetailResultMap">
 		SELECT B.FREEBOARD_NO,
			   B.TITLE, 
			   M.UNO, 
			   B.CONTENT, 
			   B.FILE_ORIGINAL, 
			   B.FILE_RENAMED, 
			   B.COUNT,
			   B.POST_DATE,
			   B.BOARD_TYPE,
		       R.COMMENT_NO AS R_COMMENT_NO, 
		       R.FREEBOARD_NO AS R_FREEBOARD_NO, 
		       R.CONTENT AS R_CONTENT, 
		       M2.UNO AS R_UNO, 
		       R.POST_DATE AS R_POST_DATE,
		       R.STATUS AS R_STATUS,
		FROM COMM_FREEBOARD B
		JOIN MEMBER M ON(B.UNO = M.UNO)
		LEFT OUTER JOIN FREEBOARD_COMMENT R ON(B.FREEBOARD_NO = R.BOARD_NO)
		LEFT OUTER JOIN MEMBER M2 ON(R.UNO = M2.UNO)
		WHERE B.STATUS='Y' AND B.FREEBOARD_NO=#{freeBoardNo}
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="Freeboard"
			useGeneratedKeys="true" keyProperty="no" keyColumn="NO">
		INSERT INTO COMM_FREEBOARD (
			FREEBOARD_NO,
			UNO,
			TITLE,
			CONTENT,
			FILE_ORIGINAL,
			FILE_RENAMED,
			COUNT,
			POST_DATE,
			STATUS,
			BOARD_TYPE,
		) VALUES (
			SEQ_FREENO.NEXTVAL,
			#{uNo},
			#{title},
			#{content},
			#{fileOriginal},
			#{fileRenamed},
			1,
			SYSDATE,
			DEFAULT,
			DEFAULT
		)
	</insert>
	
	<!-- 댓글등록 -->
	
	<insert id="insertComment" parameterType="FreeBoardComment">
		INSERT INTO FREEBOARD_COMMENT 
			VALUES(SEQ_FREE_COMMENT_NO.NEXTVAL, 
			#{freeboardNo}, #{uNo}, #{content}, SYSDATE, DEFAULT)
	</insert>
	
	<!-- 게시글 수정 -->
	
	<update id="updateBoard" parameterType="Freeboard">
		UPDATE COMM_FREEBOARD
		SET
			TITLE=#{title},
			CONTENT=#{content},
			<if test="fileOriginal != null">
				ORIGINAL_FILENAME=#{originalFileName},
			</if>
			<if test="fileRenamed != null">
				RENAMED_FILENAME=#{renamedFileName},
			</if>
		WHERE
			FREEBOARD_NO=#{freeBoardNo}
	</update>
	
	<!-- 게시글 조회수 업-->
	<update id="updateReadCount" parameterType="Freeboard">
		UPDATE COMM_FREEBOARD SET COUNT=#{count} WHERE FREEBOARD_NO=#{freeBoardNo}
	</update>
	
	<!-- 게시글 삭제 -->
	
	<update id="deleteBoard" parameterType="int">
		UPDATE COMM_FREEBOARD SET STATUS='N' WHERE FREEBOARD_NO=#{freeBoardNo}
	</update>
	
	<!-- 댓글 삭제 -->
	
	<delete id="deleteComment" parameterType="int">
		UPDATE FREEBOARD_COMMENT SET STATUS='N' WHERE COMMENT_NO=#{commentNo}
	</delete>
	
</mapper>