<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.kh.tour.community.model.mapper.GalleryMapper">
	<resultMap type="Gallery" id="galleryListResultMap">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="uno" column="UNO"/>
		<result property="title" column="TITLE"/>
		<result property="postDate" column="POST_DATE"/>
		<result property="originalImage" column="ORIGINAL_IMAG"/>
		<result property="renamedImage" column="RENAMED_IMAGE"/>
		<result property="galTag" column="GAL_TAG"/>
		<result property="status" column="STATUS"/>
		<result property="boardType" column="BOARD_TYPE"/>
	</resultMap>
	
	
	<insert id="insertGallery" parameterType="Gallery"
			useGeneratedKeys="true" keyProperty="boardNo" keyColumn="BOARD_NO">
		INSERT INTO GALLERY (
			BOARD_NO,   
			UNO,	           
			TITLE,	       
			POST_DATE,	       
			ORIGINAL_IMAGE,
			RENAMED_IMAGE,
			GAL_TAG,	       
			STATUS,	       
			BOARD_TYPE
		) VALUES (
			SEQ_BOARD_NO.NEXTVAL,
			#{uno},
			#{title},
			#{postDate},
			#{originalImage},
			#{renamedImage},
			#{galTag},
			DEFAULT,
			DEFAULT
		)
	</insert>
	
<!-- 	<select id="selectGalleryList" resultMap="GalleryListResultMap"  parameterType="map"> -->
<!-- 		SELECT  G.BOARD_NO,  -->
<!-- 				M.ID,  -->
<!-- 				G.TITLE,  -->
<!-- 				G.ORIGINAL_IMAGE,  -->
<!-- 				G.RENAMED_IMAGE,  -->
<!-- 				G.GAL_TAG,  -->
<!-- 				G.STATUS,  -->
<!-- 				G.BOARD_TYPE -->
<!-- 		FROM GALLERY G -->
<!-- 		JOIN MEMBER M ON(G.UNO = M.NO) -->
<!-- 		WHERE G.STATUS = 'Y' -->
<!-- 		<if test="titleKeyword != null"> -->
<!-- 			AND M.ID LIKE '%'||#{titleKeyword}||'%' -->
<!-- 		</if> -->
<!-- 		<if test="galTagKeyword != null"> -->
<!-- 			AND B.TITLE LIKE '%'||#{galTagKeyword}||'%' -->
<!-- 		</if> -->
<!-- 		<if test="unoKeyword != null"> -->
<!-- 			AND B.CONTENT LIKE '%'||#{unoKeyword}||'%' -->
<!-- 		</if> -->
<!-- 		ORDER BY B.NO DESC -->
<!-- 	</select> -->

<!-- 	<select id="selectGalleryCount" resultType="int"  parameterType="map"> -->
<!-- 		SELECT  COUNT(*) -->
<!-- 		FROM GALLERY G -->
<!-- 		JOIN MEMBER M ON(G.UNO = M.NO) -->
<!-- 		WHERE B.STATUS = 'Y' -->
<!-- 		<if test="titleKeyword != null"> -->
<!-- 			AND M.ID LIKE '%'||#{titleKeyword}||'%' -->
<!-- 		</if> -->
<!-- 		<if test="galTagKeyword != null"> -->
<!-- 			AND B.TITLE LIKE '%'||#{galTagKeyword}||'%' -->
<!-- 		</if> -->
<!-- 		<if test="unoKeyword != null"> -->
<!-- 			AND B.CONTENT LIKE '%'||#{unoKeyword}||'%' -->
<!-- 		</if> -->
<!-- 		ORDER BY B.NO DESC -->
<!-- 	</select> -->
	
<!-- 	<select id="selectGalleryByNo" parameterType="int" resultMap="galleryDetailResultMap"> -->
<!--  		SELECT G.BOARD_NO,  -->
<!-- 				M.ID,  -->
<!-- 				G.TITLE,  -->
<!-- 				G.ORIGINAL_IMAGE,  -->
<!-- 				G.RENAMED_IMAGE,  -->
<!-- 				G.GAL_TAG,  -->
<!-- 				G.STATUS,  -->
<!-- 				G.BOARD_TYPE -->
<!-- 		FROM GALLERY G -->
<!-- 		JOIN MEMBER M ON(G.UNO = M.NO) -->
<!-- 		WHERE B.STATUS='Y' AND G.BOARD_NO=#{boardNo} -->
<!-- 	</select> -->
	
	
<!-- 	<update id="deleteGallery" parameterType="int"> -->
<!-- 		UPDATE GALLERY SET STATUS='N' WHERE BOARD_NO=#{boardNo} -->
<!-- 	</update> -->
	
</mapper>