<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.kh.tour.travelMap.model.mapper.TravelMapMapper">

<!-- 	<resultMap type="Tour" id="tourInfoListResultMap"> -->
<!-- 		<id property="contentId" column="CONTENTID" /> -->
<!-- 		<result property="contentTypeId" column="CONTENTTYPEID" /> -->
<!-- 		<result property="title" column="TITLE" /> -->
<!-- 		<result property="tel" column="TEL" /> -->
<!-- 		<result property="telName" column="TELNAME" /> -->
<!-- 		<result property="homePage" column="HOMEPAGE" /> -->
<!-- 		<result property="bookTour" column="BOOKTOUR" /> -->
<!-- 		<result property="firstImage" column="FIRSTIMAGE" /> -->
<!-- 		<result property="firstImage2" column="FIRSTIMAGE2" /> -->
<!-- 		<result property="areaCode" column="AREACODE" /> -->
<!-- 		<result property="sigunguCode" column="SIGUNGUCODE" /> -->
<!-- 		<result property="cat1" column="CAT1" /> -->
<!-- 		<result property="cat2" column="CAT2" /> -->
<!-- 		<result property="cat3" column="CAT3" /> -->
<!-- 		<result property="addr1" column="ADDR1" /> -->
<!-- 		<result property="addr2" column="ADDR2" /> -->
<!-- 		<result property="zipCode" column="ZIPCODE" /> -->
<!-- 		<result property="mapX" column="MAPX" /> -->
<!-- 		<result property="mapY" column="MAPY" /> -->
<!-- 		<result property="mLevel" column="MLEVEL" /> -->
<!-- 		<result property="overview" column="OVERVIEW" /> -->
<!-- 		<collection property= "DetailCourse" resultMap ="detailCourseListResultMap"/>  -->
<!-- 		<collection property= "detailEventTable" resultMap ="detailEventListResultMap"/>  -->
<!-- 		<collection property= "tourImageTable" resultMap ="tourImageListResultMap"/>  -->
<!-- 		<collection property= "tourFreeTable" resultMap ="tourFreeListResultMap"/>  -->
<!-- 	</resultMap> -->

	<resultMap type="CourseMap" id="CourseMapListResultMap">
		<id property="contentId" column="CONTENTID" />                       
		<result property="contentTypeId" column="CONTENTTYPEID" />           
		<result property="title" column="TITLE" />                           
		<result property="tel" column="TEL" />                               
		<result property="firstImage" column="FIRSTIMAGE" />                 
		<result property="overview" column="OVERVIEW" />
		<result property="distance" column="DISTANCE" />
		<result property="schedule" column="SCHEDULE" />
		<result property="takeTime" column="TAKETIME" />
		<result property="subNum" column="SUBNUM" />
		<result property="subcontentId" column="SUBCONTENTID" />
		<result property="subName" column="SUBNAME" />
		<result property="subdetailImg" column="SUBDETAILIMG" />
		<result property="mapX" column="MAPX" />
		<result property="mapY" column="MAPY" />
	</resultMap>

	<resultMap type="CourseMap" id="CourseMapListDetailResultMap" extends="CourseMapListResultMap">
		<collection property="course" javaType="arrayList" columnPrefix="RC_" resultMap="repeatCourseListResultMap"/>
	</resultMap>
	
	<resultMap type="DetailCourse" id="detailCourseListResultMap">
		<id property="contentId" column="CONTENTID" />
		<result property="contentTypeId" column="CONTENTTYPEID" />
		<result property="infocenterTourcourse" column="INFOCENTERTOURCOURSE" />
		<result property="distance" column="DISTANCE" />
		<result property="schedule" column="SCHEDULE" />
		<result property="takeTime" column="TAKETIME" />
		<result property="theme" column="THEME" />
	</resultMap>

	<resultMap type="RepeatCourse" id="repeatCourseListResultMap">
		<id property="courseDetailNo" column="COURSE_DETAIL_NO" />
		<result property="contentId" column="CONTENTID" />
		<result property="contentTypeId" column="CONTENTTYPEID" />
		<result property="subNum" column="SUBNUM" />
		<result property="subcontentId" column="SUBCONTENTID" />
		<result property="subName" column="SUBNAME" />
		<result property="subdetailImg" column="SUBDETAILIMG" />
		<result property="subdetailOverview" column="SUBDETAILOVERVIEW" />
		<result property="subdetailAlt" column="SUBDETAILALT" />
		<collection property= "detailCourseTable" resultMap ="detailCourseListResultMap"/> 
	</resultMap>

	
	
	<!-- 컨텐츠타입아이디로 리핏코스리스트 찾기 (보드 리플 참고) -->
	<select id="selectCourseByNo" parameterType="int" resultMap="CourseMapListDetailResultMap">
 		SELECT 
 			BTI.CONTENTID, 
 			BTI.TITLE, 
 			BTI.FIRSTIMAGE, 
            BTI.OVERVIEW, 
            DC.SCHEDULE, 
            DC.THEME, 
            RC.SUBNUM, 
            RC.SUBCONTENTID, 
            RC.SUBNAME, 
            RC.SUBDETAILOVERVIEW, 
            RC.SUBDETAILIMG,
            MAPX.MAPX, 
            MAPX.MAPY
        FROM BASIC_TOUR_INFO BTI 
        LEFT OUTER JOIN  DETAIL_COURSE DC ON (BTI.CONTENTID = DC.CONTENTID)
        LEFT OUTER JOIN REPEAT_COURSE RC ON (BTI.CONTENTID = RC.CONTENTID)
        LEFT OUTER JOIN
        	(SELECT RC.SUBCONTENTID AS SUBID, BTI.MAPX, BTI.MAPY, BTI.AREACODE, BTI.SIGUNGUCODE FROM BASIC_TOUR_INFO BTI  
        	LEFT OUTER JOIN REPEAT_COURSE RC ON (BTI.CONTENTID = RC.SUBCONTENTID)) MAPX
        ON (MAPX.SUBID = RC.SUBCONTENTID)
        WHERE 1=1
        AND BTI.CONTENTTYPEID = 25
        AND BTI.CONTENTID = #{contentId}
        ORDER BY bti.contentid ASC, RC.subnum ASC
	</select>
	
	<!-- 코스 목록 -->
	<select id="selectCourseMapList" resultMap="CourseMapListResultMap">
		SELECT 
			B.CONTENTID, 
			B.CONTENTTYPEID, 
			B.TITLE, 
			D.DISTANCE, 
			D.SCHEDULE, 
			D.TAKETIME, 
			B.FIRSTIMAGE ,
			B.OVERVIEW, 
			B.MAPX, 
			B.MAPY
		FROM BASIC_TOUR_INFO B
		LEFT JOIN DETAIL_COURSE D ON (B.CONTENTID = D.CONTENTID)
		where b.CONTENTTYPEID = 25
		ORDER BY B.CONTENTID ASC

	</select>
	
	<!-- 코스 상세 -->
<!-- 	<select id="selectCourseMapList" resultMap="CourseMapListResultMap" parameterType="int"> -->
<!-- 		SELECT  -->
<!-- 			BTI.CONTENTID, -->
<!-- 			BTI.CONTENTTYPEID, -->
<!-- 			BTI.TITLE,  -->
<!-- 			BTI.TEL,  -->
<!-- 			BTI.FIRSTIMAGE, -->
<!-- 			BTI.OVERVIEW, -->
<!-- 			DC.DISTANCE,  -->
<!-- 			DC.SCHEDULE,  -->
<!-- 			DC.TAKETIME,  -->
<!-- 			RC.SUBNUM,  -->
<!-- 			RC.SUBCONTENTID,  -->
<!-- 			RC.SUBNAME, -->
<!-- 			RC.SUBDETAILIMG, -->
<!-- 			MAPX.MAPX,  -->
<!-- 			MAPX.MAPY -->
					
<!-- 		FROM BASIC_TOUR_INFO BTI -->
<!-- 		LEFT OUTER JOIN -->
<!-- 		DETAIL_COURSE DC -->
<!-- 		ON (BTI.CONTENTID = DC.CONTENTID) -->
<!-- 		LEFT OUTER JOIN -->
<!-- 		REPEAT_COURSE RC -->
<!-- 		ON (BTI.CONTENTID = RC.CONTENTID) -->
<!-- 		LEFT OUTER JOIN -->
<!-- 		(SELECT CEIL(AVG(STAR)) AS CNTREVSTAR, CONTENTID FROM REVIEW_TOTAL GROUP BY -->
<!-- 		CONTENTID) STRPT -->
<!-- 		ON (BTI.CONTENTID = RC.SUBCONTENTID) -->
<!-- 		LEFT OUTER JOIN -->
<!-- 		(SELECT RC.SUBCONTENTID AS SUBID, BTI.MAPX, BTI.MAPY, BTI.AREACODE, -->
<!-- 		BTI.SIGUNGUCODE FROM BASIC_TOUR_INFO BTI -->
<!-- 		LEFT OUTER JOIN REPEAT_COURSE RC -->
<!-- 		ON (BTI.CONTENTID = RC.SUBCONTENTID)) MAPX -->
<!-- 		ON (MAPX.SUBID = RC.SUBCONTENTID) -->
<!-- 		WHERE 1=1 -->
<!-- 		AND BTI.CONTENTTYPEID = 25 -->
<!-- 		 AND BTI.CONTENTID = #{contentId} -->
<!-- 		 ORDER BY RC.SUBNUM ASC -->
<!-- 	</select> -->

</mapper>